:root {
    --bg-color: #0f0c0a;
    --primary-color: #c8beb2;
    --second-color: #40525a;
    --acent-color: #8479a0;
    --text-color: #ede9e5;
}

* {
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: var(--text-color);
    font-size: 5vw;
    cursor: default;
    text-align: center;
    transition: 0.3s ease;
}
h1:hover {
    font-size: 5.5vw;
}
h2 {
    color: var(--text-color);
    font-size: 3vw;
    cursor: default;
    text-align: center;
    transition: 0.5s ease;
}
h2:hover {
    font-size: 3.5vw;
}
h3 {
    color: var(--text-color);
    font-size: 3vw;
    cursor: default;
    text-align: center;
    transition: 0.5s ease;
}
h4 {
    color: var(--text-color);
    font-size: 1.5vw;
    cursor: default;
    text-align: center;
    transition: 0.5s ease;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
p {
    color: var(--text-color);
    font-size: 2vw;
    cursor: default;
    text-align: center;
    transition: 0.5s ease;
}
p:hover {
    font-size: 2.5vw;
}
li {
    color: var(--text-color);
    font-size: 3vw;
    cursor: default;
    text-align: center;
    transition: 0.5s ease;
}
li:hover {
    font-size: 3.5vw;
}
#img {
    border: var(--primary-color) solid 3px;
    border-radius: 6px;
    cursor: default;
    width: 70vw;
    height: 70vh;
    margin-left: 15vw;
    object-fit: cover;
    transition: 0.5s ease;
}
#img:hover {
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    border-radius: 20px;
}
#float_img {
    border: var(--primary-color) solid 3px;
    border-radius: 6px;
    cursor: default;
    width: 70vw;
    height: 70vh;
    float: left;
    object-fit: cover;
    transition: 0.5s ease;
}
#float_img:hover {
    width: 80vw;
    height: 80vh;
    margin-left: 3vw;
    border-radius: 20px;
}
a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: var(--primary-color) solid 2px;
}


.fancy {
    background-image: linear-gradient(130deg, #36af8d 0%, #686bbc 50%, #a260a4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}

.blocking_div {
    width: 100vw;
    height: 100vh;
}

.differnt_fonts {
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s ease;
}
.differnt_fonts:hover {
    background-image: linear-gradient(130deg, #36af8d 0%, #686bbc 50%, #a260a4 100%);
}
.differnt_fonts:nth-child(1):hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.differnt_fonts:nth-child(2):hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.differnt_fonts:nth-child(3):hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.differnt_fonts:nth-child(4):hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.differnt_fonts:nth-child(5):hover {
    font-family: 'Times New Roman', Times, serif;
}
.differnt_fonts:nth-child(6):hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.differnt_fonts:nth-child(7):hover {
    font-family: Arial, Helvetica, sans-serif;
}
.differnt_fonts:nth-child(8):hover {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.differnt_fonts:nth-child(9):hover {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#color_swatch {
    border: var(--primary-color) solid 3px; 
    border-radius: 6px; 
    cursor: default;
    width: 70vw; 
    height: 70vh; 
    margin-left: 15vw; 
    background-color: var(--second-color);
    transition: 0.5s ease;
}
#color_swatch:hover {
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    border-radius: 20px;
}

#final_page {
    border: var(--primary-color) solid 3px; 
    border-radius: 6px; 
    width: 70vw;
    height: fit-content;
    margin-left: 15vw;
    margin-bottom: 5em;
    background-color: var(--second-color);
    transition: 0.5s ease;
}
#final_page:hover {
    width: 80vw;
    height: fit-content;
    margin-left: 10vw;
    border-radius: 0px;
}
#float_img_2 {
    border: var(--primary-color) solid 3px;
    border-radius: 6px;
    position: static;
    bottom: 0;
    cursor: default;
    width: 100%;
    height: auto;
    object-fit: cover;
}